<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <title>Geezy-Events</title>
</head>
<body>
    <header>
        <div class="container">
          <div class="logo">Geezy Events</div>
          <nav>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="create.html">Create</a></li>
              <li><a href="about.html">About</a></li>
            </ul>
          </nav>
        </div>
    </header>
    <h1 class="aboutus-title">Create Event</h1>
    <div class="container-create">
      
    <div id="app">
    <!-- everything in here is managed by Vue -->
    
    <table>
            <tr>
              <td class="list-heading-main"><input type="text" placeholder="Event Title" v-model="eventTitle"></td>
              <td class="list-heading-main"><input type="text" placeholder="Event Location" v-model="eventLocation"></td>
              <td class="list-heading-main"><input type="text" placeholder="Event Description" v-model="eventDesc"></td>
              <td class="list-heading-main"><input type="text" placeholder="Event Type" v-model="eventType"></td>
            </tr>


            <tr>
	            <td class="list-heading-main"><input type="date" placeholder="Event Date" v-model="eventDate"></td>	    
	            <td class="list-heading-main"><input type="time" placeholder="Event Start Time" v-model="eventStartTime"></td>
              <td class="list-heading-main"><input type="time" placeholder="Event End Time" v-model="eventEndTime"></td>
	          </tr>
            <td  class="list-heading-main"><button v-on:click="createEventButton">Create Event</button></td>
	  </table>

   </div>
  </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="app.js"></script>
</body>
</html>
