body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: lightgray;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
  }
  
  .logo {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  }
  
  nav a:hover {
    color: #f39c12;
  }
  
.background-container{
     color: blue;
     width: auto;
     height: 600px;
     background-color: gray;
     margin: 24px;
}

.log{
    background-color: black;
    width: auto;
    margin: 24px;
}

h2{
    background-color: gray;
    padding: 18px;
    margin: 0px;
}

gmp-map {
  height: 100%;
}

table{
    width: 100%;
    border-color: blue;
    border-left: black;
}

.list-heading{
    background-color: lightgray;
}

.list-item{
    background-color: aliceblue;
}

.list-heading-main{
    float: left;
    padding: .5em;
    font-weight: bold;
}

.list-heading-alt{
    float: right;
    padding: .5em;
    font-weight: bold;
}

.list-time{
    float: left;
    padding: .5em;
    font-family: 'Times New Roman', Times, serif;
}

.list-symbol{
    float: left;
    padding: .5em 0em .5em 1em;
    border-radius: 5px;
}

.list-event-title{
    float: left;
    padding: .5em .5em .5em .5em;
    font-family: 'Times New Roman', Times, serif;
}

.event-dot{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
}






/* .logbox{
    width: auto;
    background-color: white;
} */


  
