body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #FBFFFF;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }

  .container-create {
    width: 70%;
    background-color: #E4C170;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-color: black;
  }
  
  header {
    background-color: #EFD13B;
    color: black;
  }
  
  .logo {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  }
  
  nav a:hover {
    color: #f39c12;
  }
  
.background-container{
     width: auto;
     height: 600px;
     background-color: #E4C170;
     margin: 24px;
}

.background-container-about{
    width: 70%;
    text-align: center;
    margin: 0 auto;
    align-content: center;
    height: 80%;
    background-color: #E4C170;
    padding: 24px;
    font-size: 20px;
}

.boys{
    width: 50px;
    height: 50px
}


.log{
    background-color: #62320C;
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

gmp-map {
  height: 100%;
}

table{
    width: 100%;
}

.list-heading{
    background-color: #B7521E;
}

.list-item{
    background-color: #FBFFFF;
}

.list-heading-main{
    float: left;
    padding: .5em;
    font-weight: bold;
}

.list-heading-alt{
    float: right;
    padding: .5em;
    font-weight: bold;
}

.list-time{
    float: left;
    padding: .5em;
    font-family: 'Times New Roman', Times, serif;
}

.list-symbol{
    float: left;
    padding: .5em 0em .5em 1em;
    border-radius: 5px;
}

.list-event-title{
    float: left;
    padding: .5em .5em .5em .5em;
    font-family: 'Times New Roman', Times, serif;
}

.event-dot{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

.header{
    background-color: #E4C170;
}

.header-item{
    float: left;
}

h2{
    padding-left: 1em;
}

.aboutus-title{
    text-align: center;
}

.footer {
    width: 100%;
    background-color: darksalmon;
    justify-content: space-between;

    padding: 20px 0;
    height: 2.5em;
    position: absolute;
    bottom: 0;
    text-align: center;
  }
  
